<div class="card">
    <div class="card-body">

        <div class="input-group container mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" [(ngModel)]="binding" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="search(binding)"><i class="fas fa-search"></i></button>
            </div>
        </div>

    </div>
    <div class="card-body">
            <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>  
    </div>
</div>