<nav class="navbar navbar-dark bg-dark">
    <div class="col-12 col-md-6">
        <div class="l">
            <ul class='lista'>
                <li>ACERCA DE ACC</li>
                <li>EMPLEOS</li>
                <li>CONTACTO</li>
                <li>UBICACIÓN</li>
                <li>ENTURE</li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="l">
            <ul class='redes'>
                <li><i class="fab fa-facebook"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-linkedin-in"></i></li>
                <li><i class="fab fa-youtube"></i></li>
            </ul>
        </div>
    </div>
    <div class="derechos">
        <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{anio}} </span>All Right Reserved.</p>
    </div>
</nav>